@import "/src/assets/sass/variable";

.card-post-parent {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: fit-content;
  margin: 0 1rem;

  .card-post-content {
    display: flex;
    flex: 1;
    background-color: $white;
    border-radius: 10px;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.07);
    margin: 10px;
    padding: 15px;

    .radio-card {
      display: contents;

      .v-selection-control__wrapper {
        display: flex;
        flex: 0.1;
        align-items: center;
        height: 100%;
      }
    }

    .card-title-parent {
      display: flex;
      flex: 0.3;
      align-items: center;

      .card-title {
        font-size: 21px;
      }
    }

    .cost-parent {
      display: flex;
      flex: 0.3;
      flex-direction: column;
      justify-content: center;

      .deliver-parent {
        display: flex;
        justify-content: center;

        .deliver-title {
          font-size: 18px;
          color: $MineShaft;

          .deliver-value {
            color: #4a5568;
            padding-right: 5px;
          }
        }
      }
    }

    .select-time-parent {
      display: flex;
      flex: 0.33;
      justify-content: center;
      margin-top: 18px;
    }
  }
}
