#home-section-main {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  flex: 0.1;
  height: auto;
  padding: 4rem 5rem;
  background-image: url("/src/assets/images/home/home-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  .slider-style {
    z-index: 1;
  }

  .right-section-image-parent {
    display: flex;
    align-items: center;
    padding: 0 2rem 0 1rem;
    margin-top: 0 !important;
  }
  .left-section-image-parent {
    display: flex;
    align-items: center;
    padding: 0 1rem 0 3rem;

    .right-inner-left-section-parent {
      display: flex;
      align-items: center;
      padding: 0 2rem;
      margin-top: 0 !important;
    }
    .left-inner-left-section-parent {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 0 !important;

      .up-left-inner-left-section-parent {
        display: flex;
      }
      .down-left-inner-left-section-parent {
        display: flex;
      }
    }
  }
}
