#main-container {
  .header-shop-page-title {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    background-color: #f8f8f8;
    margin: 16px 0;
  }

  .products-sale-parent {
    display: flex;
    flex: 0.4;
    flex-direction: column;
    margin: 16px 32px;

    .filter-parents {
      display: flex;
      // flex: 1;
      justify-content: flex-start;
      padding: 10px 0;

      .order-by-parent {
        display: flex;
        align-items: center;
        flex: 0.4;

        .order-by-text {
          font-size: 16px;
          width: 30%;
          text-align: center;
          margin-left: 5px;
        }
      }
    }
  }
}
