@font-face {
  font-family: IRANYekan;
  src: url("../fonts/IRANYekan/WebFonts/fonts/woff/IRANYekanWebRegular.woff")
      format("woff"),
    url("../fonts/IRANYekan/WebFonts/fonts/woff2/IRANYekanWebRegular.woff2")
      format("woff2"),
    url("../fonts/IRANYekan/WebFonts/fonts/ttf/IRANYekanWebRegular.ttf")
      format("truetype"),
    url("../fonts/IRANYekan/WebFonts/fonts/eot/IRANYekanWebRegular.eot")
      format("eot"),
    url("../fonts/IRANYekan/WebFonts/fonts/svg/IRANYekanWebRegular.svg")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
